*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
}

/* navigation bar */
.navbar{
    
    background-color: #f9f9f9;;
    padding: 15px;
}

.travel{
    color: black;
}


.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navul{
    display: flex;
}

.navli{
    list-style: none;
    padding: 15px;
}

.navli a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navli a:hover ,.navigation a.active{
    background-color: #359381;
    color: #fff;
}

/* Home page */
.container{
    height: 500px;
    text-align: center;
    padding: 15px;
    background: url('https://images.pexels.com/photos/3278215/pexels-photo-3278215.jpeg?cs=srgb&dl=pexels-freestockpro-3278215.jpg&fm=jpg') no-repeat center center/cover;

}

.condiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: transparent;
}

.container h1{
    font-size:  5em;
    background-color: transparent;
    margin-bottom: 15px;
}

button{
    height: 50px;
    width: 70px;
}

/* package */

.package h1{
    color: black;
}

.Places{
    margin-top: 20px;
    margin-bottom: 20px;

}

.bottom {
    background-color: black;
    width: 100%;
    height: 300px;
    color: black;
}

.footerdiv{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.head{
    font-size: 2em;
    margin-bottom: 5px;
}

.footerli {
    list-style: none;
    padding: 5px;
}

.headp{
    margin-bottom: 5px;
    font-weight: bold;
}

#newsletter1{
    width: 70%;
    height: 40px;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    padding-left: 5px;
    background: transparent;
}

.btn{
    width: 80px;
    height: 40px;
    font-size: 15px;
    background-color: blue;
    border: transparent;
    border-radius: 5px;
}

.row{
    margin: 15px 30px ;
}

.copy{
    text-align: center;
}

.formcon{
        height: 750px;
        text-align: center;
        padding: 15px;
        background: url('https://images.pexels.com/photos/302769/pexels-photo-302769.jpeg?cs=srgb&dl=pexels-pixabay-302769.jpg&fm=jpg') no-repeat center center/cover;
}

.formdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.formh1{
    font-size: 5em;
    text-align: center
}


.formdiv2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formdiv2 input{
    padding: 15px;
    width: 50%;
    margin: 15px;
    font-size: 20px;
    color: black;
}

.Submitted{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    color: black;
    height: 750px;
    text-align: center;
    padding: 15px;
    background: url('https://images.pexels.com/photos/457882/pexels-photo-457882.jpeg?cs=srgb&dl=pexels-asadphoto-457882.jpg&fm=jpg') no-repeat center center/cover;
}

.sub{ 
    color: black;
}